// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title{
  display: block
 ; 
}

.form{
  margin-bottom: 15px;
}

.table{
  width: 800px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.bt{
  width: 100px;
  maegin-right: 10px;
  margin-bottom: 10px;
}

.bb{
  width: 300px;
  
}